---
layout: page
title: "About"
description: "Hey, this is arcestia."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> English </option>
    <option value="1"> Indonesian </option>
</select>

<!-- English Version -->
<div class="en post-container">

    <!--copied from markdown -->
    <blockquote><p>Social Media Addict, Writer, Open Source Developer.<br>
    Web &amp; Mobile Lover，Front-End Engineer，UX Designer.</p></blockquote>

    <p>Hey，Here is <strong>Laurensius Jeffrey Chandra</strong>，you can call me nickname <strong>arcestia</strong>. I'm Developer &amp; Designer who is love to build open source software. see my project more in (<a href="/portfolio">Portfolio 👉 </a> and <a href="http://github.com/arcestia">Github 👉 </a>)</p>

    <p>More than blogger, I'm also translator and contributor in some community. such as <a href="https://sinaudev.org">Sinau Development</a>. </p>

    <h5>Publications</h5>

    <ul>
    <li>Make Open Source Blog with Jekyll and Github Pages</a></li>
    </ul>

</div>

<!-- Indonesian Version -->
<div class="id post-container">
    <blockquote><p>Social Media Addict, Writer, Open Source Developer. <br>
    Web &amp; Mobile Lover，Front-End Engineer，UX Designer.</p></blockquote>

    <p>Hi, Saya <strong>Laurensius Jeffrey Chandra</strong>，bisa dipanggil dengan nickname <strong>arcestia</strong>. Saya seorang Developer &amp; Designer yang menyukai membuat software open source. lihat project saya di (<a href="/portfolio">Portfolio 👉 </a> and <a href="http://github.com/arcestia">Github 👉 </a>)</p>

    <p>Selain menjadi Blogger dan Penulis, saya juga aktif menjadi translator dan kontributor di beberapa komunitas. seperti <a href="https://sinaudev.org">Sinau Development</a>.</p>

    <h5>Publikasi</h5>

    <ul>
    <li>Make Open Source Blog with Jekyll and Github Pages</li>
    </ul>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $en = document.querySelector(".en");
    var $id = document.querySelector(".id");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // id
        if(_hash == "#id"){
            $select.selectedIndex = 1;
            $id.style.display = "block";
            $en.style.display = "none";
        // en by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $en.style.display = "block";
            $id.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#en"
        }else{
            window.location.hash = "#id"
        }
    }

    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
